/* TODO: Mobile first - Use mobile implementation as a default layer to build on.
/* TODO: Note: Starting with very little and working up as the need arises usually makes more sense than starting with everything and then covering up things if they aren't needed!
/* TODO: Check out Volo, installed, Note: code ENOLOCK This command requires an existing lockfile... Original error: loadVirtual requires existing shrinkwrap file
/* TODO: Using a Responsive Grid System means a smooth response to the browsers viewport width at any given size.
/* TODO: Cont'd... This means using % as unit measurements so that containers are fluid, assets we serve should be flexible, & media queries defined where content breaks
/* TODO: Media Queries...
/* TODO: Experiment w/ cardOne/daniel: use class selectors for common stuff & id selectors for unique stuff...
/* TODO: class: card, cardHeader (to 86 headshot, name, & verifiedGrad), cardInternal, cardQuote; id: cardOne
.card
.cardHeader (to 86 headshot (img), name (h2), & verifiedGrad (p))
.cardInternal
.cardQuote

.card {
    apply the same border radius to all cards within the container
}

.cardHeader p{
    font: opacity 50%;
}
.cardHeader img{
    object-fit: contain;
    border-radius: 50%;
    border: 2px solid hsl(263, 55%, 52%);
    margin-right: 1rem;
}

.cardQuote{
    font: opacity 70%;
}

*/


