/* TODO: Figure out how to utilize grid-template-area: For Example... .container{ grid-template-areas: "daniel daniel jonathan kira" "jeanette patrick patrick kira"
    /* TODO: Would this make the sections for "item" redundant? What about the class, attribution???*/
    /* TODO: Move stylin' from .container & put it back on body? */

body{
    margin: 8%;
    justify-items: center;
    background-color: hsl(210, 46%, 95%);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px 1em;
    font-weight: 500;
}

.container{
    display: grid; /* or inline-grid */
    grid-template: [row2-start] "daniel daniel jonathan kira" [row2-end]
                   [row3-start] "jeanette patrick patrick kira" [row3-end]
                   [row4-start] "footer" [row4-end]
                   / 16.67%;
}
    /*TODO: Try using the shorthand for grid stuff, template-columns, template-rows, & template areas...
    /*TODO: grid-template: [row2-start] "daniel daniel jonathan kira" auto [row2-end]
                           [row3-start] "jeanette patrick patrick kira" [row3-end]
                           / auto 16.67% auto;
    /* TODO: Troubleshoot defining columns in grid-template shorthand */

.cardOne{
    grid-area: "daniel";
    grid-column: span 2;
    background: hsl(263, 55%, 52%) url("images/bg-pattern-quotation.svg") no-repeat fixed right top;
    color: hsl(0, 0%, 100%);
}
    /*TODO: Background image for danielC/cardOne, updated for shorthand*/

.cardTwo{
    grid-area: "jonathan";
    background-color: hsl(217, 19%, 35%);
    color: hsl(0, 0%, 100%);
}
.cardThree{
    grid-area: "patrick";
    grid-column: span 2;
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 100%);
}

.cardWhiteJ, .cardWhiteK{
    background-color: hsl(0, 0%, 100%);
    color: hsl(219, 29%, 14%);
}

.cardWhiteJ{
    grid-area: "jeanette";
}

.cardWhiteK{
    grid-area: "kira";
    grid-row: span 2;
}

.name{
    font-size: 2em;
    font-weight: 600;
}

.headshot{
    object-fit: contain;
    border-radius: 50%;
    border: 2px solid hsl(263, 55%, 52%);
    margin-right: 1rem;
}

/* TODO: Get this to work, ding dong!*/
.verifiedGrad{
    font: opacity 50%;
}

/* TODO: Get this to work, dummy!*/
blockquote{
    font: opacity 70%;
}

.attribution { font-size: 11px; text-align: center;
      grid-area: "footer";
      grid-row: span;
}
.attribution a { color: hsl(228, 45%, 44%); }

